html(lang='en')
  head
     meta(charset='utf-8')
     meta(name='viewport',
          content='width=device-width, initial-scale=1, shrink-to-fit=no')
     link(rel='stylesheet', href='css/bootstrap.min.css')
     block scripts
       script(src='js/bootstrap.min.js')
     block title
       title Hello World
  body
    block content
      h1 Hello World
