div(class="modal fade" id="downloadModal" tabindex="-1" role="dialog")
  div(class="modal-dialog" role="document")
    div(class="modal-content")
      div(class="modal-header")
        div(class="modal-title") Download Files
      div(class="modal-body")
        ul(class="list-group")
          pre(id="dlfiles")
      div(class="modal-footer")
        button(type="button" class="btn-secondary" data-dismiss="modal") Close
script
  include ../js/download_modal.js
