div(class='card' style='max-width: 18rem;')
  div(class='card-body')
    div(class='card-title') #{title}
    button(class='btn btn-primary' id="unmount-#{title}", onclick='unmount(#{title})') Unmount
