extends bootstrap

block title
  title PiDrive
block prepend scripts
  script(src='js/jquery.js')
block content
  include download_modal
  include upload_modal
  h1(class='d-flex justify-content-center') Pi Drive
  div(class='d-flex justify-content-center m-3')
    button(class='btn btn-primary' id='refresh', onclick='refresh()') Refresh
  div(class='d-flex justify-content-center')
    pre(id='drives')
  script
    include ../js/ajax.js
    include ../gen/template_drive_summary.js
    include ../gen/template_mount_summary.js
