div(class='d-flex bg-light my-2')
  div(class='p-2') #{name}
  div(class='p-2 pr-4') #{fs}
  div(class='float-right')
    button(class='btn btn-secondary ml-6' id=`mount-${name}` onclick=`mount('${name}')`) Mount
    button(class='btn btn-secondary ml-3' id=`unmount-${name}` onclick=`unmount('${name}')`) Unmount
    button(class='btn btn-secondary ml-3' id=`upload-${name}` data-toggle="modal" data-target="#uploadModal") Upload
    button(class='btn btn-secondary mx-3' id=`download-${name}` data-toggle="modal" data-target="#downloadModal") Download
