div(class="modal fade" id="uploadModal" tabindex="-1" role="dialog")
  div(class="modal-dialog" role="document")
    div(class="modal-content")
      div(class="modal-header")
        div(class="modal-title") Upload File
      div(class="modal-body")
        form(id="uploadForm" action="" method="post" enctype="multipart/form-data")
          div(class="input-group mb-3")
            div(class="custom-file")
              input(type="file" name="filename" class="custom-file-input" id="inputGroupFile")
              label(class="custom-file-label" for="inputGroupFile") Browse
            div(class="input-group-append")
              button(type="submit" class="btn btn-primary" id="") Upload
      div(class="modal-footer")
        button(type="button" class="btn-secondary" data-dismiss="modal") Close
script
  include ../js/upload_modal.js
